<%-include("./partials/head)%>
<!--carga de css-->
<%-include("./partials/closedHead)%>

<!--carga de html -->


<!-- carga de js-->
<h1>ADMIN</h1>
<h2>Bienvenido <%=nombre%> </h2>


<%-include("./partials/botonLogout")  %> 
<!-- cargas de js -->
<%-include("./partials/foot")%> 
