<%-include("./partials/head)%>
<!--carga de css-->
<%-include("./partials/closedHead)%>


<!--carga de html -->
<h1>INDEX</h1>
<h2>Bienvenido <%=nombre%> </h2>

<!-- carga de js -->

<%-include("./partials/botonLogout")%>

<!--cargas de js-->
<%-include("./partials/foot")%>

